<div style="padding: 8px">
  <div style="display: flex; justify-content: space-between">
    <h3>Reactions</h3>
    <button class="btn btn-success" (click)="createReaction()">
      Create reaction
    </button>
  </div>
  <div *ngFor="let reaction of reactions" style="margin-top: 5px">
    <div class="form-group" style="margin-top: 8px">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Sender</div>
        </div>
        <select class="form-select" [(ngModel)]="reaction.sender">
          <option value="Representative">Representative Matt</option>
          <option value="Engineer">Engineer Elon</option>
          <option value="Teacher">Teacher Snape</option>
          <option value="Economist">Economist Dan</option>
          <option value="Dr">Dr.Hugh</option>
          <option value="General">General Ross</option>
          <option value="Judge">Judge Mary</option>
          <option value="Chad">Chad</option>
          <option value="Janitor">Janitor Ken</option>
          <option value="Journalist">Journalist Donald</option>
          <option value="Priest">Priest Paul</option>
          <option value="Pilot">Pilot Sabiha</option>
          <option value="SJW">SJW Emily</option>
          <option value="Alien">Alien?</option>
        </select>
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Type</div>
        </div>
        <select class="form-select" [(ngModel)]="reaction.type">
          <option>left</option>
          <option>image</option>
        </select>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Text</div>
        </div>
        <input
          type="text"
          placeholder="Enter reaction text"
          class="form-control"
          [(ngModel)]="reaction.text"
        />
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Restriction</div>
        </div>
        <input
          type="text"
          placeholder="Enter reaction restriction"
          class="form-control"
          [(ngModel)]="reaction.restriction"
        />
      </div>
    </div>
  </div>
</div>
