<div style="padding: 8px">
  <div style="display: flex; justify-content: space-between">
    <h3>Filters</h3>
    <button class="btn btn-warning" (click)="createFilter()">
      Create filter
    </button>
  </div>
  <div *ngFor="let filter of filters" style="margin-top: 5px">
    <div class="form-group" style="margin-top: 8px">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Type</div>
        </div>
        <select class="form-select" [(ngModel)]="filter.type">
          <option>more</option>
          <option>less</option>
        </select>
        <div class="input-group-append">
          <button (click)="delete(filter)" class="btn btn-danger">X</button>
        </div>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Stat</div>
        </div>
        <select class="form-select" [(ngModel)]="filter.stat">
          <option>economy</option>
          <option>strength</option>
          <option>happiness</option>
          <option>bank</option>
          <option>religion</option>
          <option>civilization</option>
        </select>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Amount</div>
        </div>
        <input
          type="number"
          placeholder="Enter filter amount"
          class="form-control"
          [(ngModel)]="filter.amount"
        />
      </div>
    </div>
  </div>
</div>
