<div style="padding: 15px 15px 0px 15px; border-left: 2px solid #ccc">
  <button class="btn btn-primary" (click)="createAnswer()">
    Create answer
  </button>

  <div *ngFor="let answer of answers" style="margin-top: 5px">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Answer</div>
        </div>
        <input
          type="text"
          placeholder="Enter answer text"
          class="form-control"
          [(ngModel)]="answer.text"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="createNextDialog(answer)">
            Create next dialog
          </button>
        </div>
      </div>
    </div>
    <div
      class="form-group"
      style="padding: 15px 15px 0px 15px; border-left: 2px solid #ccc"
    >
      <div class="input-group" style="margin: 0 0 15px 0">
        <div class="input-group-prepend">
          <div>Is this a ending?</div>
        </div>
        <input
          style="margin-left: 15px"
          type="checkbox"
          [checked]="answer.end"
          (change)="answer.end = !answer.end"
        />
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Economy</div>
        </div>
        <input
          type="number"
          placeholder="Enter economy impact"
          class="form-control"
          [(ngModel)]="answer.outcome.economy"
        />
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Strength</div>
        </div>
        <input
          type="number"
          placeholder="Enter strength impact"
          class="form-control"
          [(ngModel)]="answer.outcome.strength"
        />
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Happiness</div>
        </div>
        <input
          type="number"
          placeholder="Enter happiness impact"
          class="form-control"
          [(ngModel)]="answer.outcome.happiness"
        />
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Bank</div>
        </div>
        <input
          type="number"
          placeholder="Enter bank impact"
          class="form-control"
          [(ngModel)]="answer.outcome.bank"
        />
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Religion</div>
        </div>
        <input
          type="number"
          placeholder="Enter religion impact"
          class="form-control"
          [(ngModel)]="answer.outcome.religion"
        />
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Civilization</div>
        </div>
        <input
          type="number"
          placeholder="Enter civilization impact"
          class="form-control"
          [(ngModel)]="answer.outcome.civilization"
        />
      </div>
    </div>
    <app-dialog
      *ngIf="answer.nextDialogs"
      [dialogs]="answer.nextDialogs"
    ></app-dialog>
  </div>
</div>
